<% layout("./layouts/boilerplate.ejs") %>
<h1>All Venues</h1>
<a href="/venues/new">Add Venue</a>
<ul>
    <% for (let venue of venues){ %>
    <li><a href="/venues/<%= venue.id %>"><%= venue.name %></a></li>
    <% } %>
</ul>