<% layout("./layouts/boilerplate.ejs") %>
<form action="/venues" method="POST">
    <div>
        <label for="name">Venue Name</label>
        <input type="text" id="name" name="venue[name]">
    </div>
    <div>
        <label for="team">Team Name</label>
        <input type="text" id="team" name="venue[team]">
    </div>
    <div>
        <label for="league">League</label>
        <input type="text" id="league" name="venue[league]">
    </div>
    <button>Add Venue</button>
</form>

<a href="/venues">Back</a>