<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Venue</title>
</head>
<body>
    <form action="/venues" method="POST">
        <div>
            <label for="name">Venue Name</label>
            <input type="text" id="name" name="venue[name]">
        </div>
        <div>
            <label for="team">Team Name</label>
            <input type="text" id="team" name="venue[team]">
        </div>
        <div>
            <label for="league">League</label>
            <input type="text" id="league" name="venue[league]">
        </div>
        <button>Add Venue</button>
    </form>

    <a href="/venues">Back</a>
</body>
</html>